#div-my-tabl {
	font-family: Arial, Helvetica, sans-serif;
	background:#FFFFFF;
	
}

#title{
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:36px;
	
	outline-color:#090;
	color:#60C;
	}
	
#comparator{
	display:none;
	position:absolute;
	width:40%;
	top:10pt;
	
	
}
#result-container{
	width:60%;
	margin:0pt auto;
	float:left;
	padding-left:3%;
	padding-right:2%;
}
#map_canvas{
	overflow:auto;
	float:left;
	height:300px;
	width: 24%;
	position:relative;
	margin:10px;
}
#div-my-tab2 {
	overflow:auto; 
	height:300px;
	width:300px;
	position: absolute;
	right: 10px;
	top:230px;
	
}

div.overlay{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	display:none;
}

div.overlay-container{
	
	position:fixed;
	width:95%;
	top:50px;
	height:80%;
	border-style:solid;
	border-width:2px;
	border-color:black;
	background-color:#6E80E6;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding:20px;
    box-shadow: 10px 10px 5px #AAAAAA;
	min-width:680pt;
}
div.overlay:target{
	display:block;
}
#listing_details{
    background-color:white;
    width:72%;
    height:90%;
	float:left;
	margin:10px;
}
#listing_details2{
	display:none;
	
}
div.listing_menu{
    float:right;
}

img.pic{ width:200px; height:100px;	 }

td[id *="1"]{color:#F30;font-size:24px;font-stretch:semi-expanded;font-style:oblique;}